@charset "UTF-8";
:root {
  --blue: hsl(246, 80%, 60%);
  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --strong-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-Blue: hsl(236, 100%, 87%);
  --text-color: hsl(0, 0%, 7%);
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 18px;
  --small-font-size: 16.2px;
  --body-font-family: "Rubik", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --gap: 1.5rem;
  --box-border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--very-dark-blue);
  color: #fff;
  line-height: 1.6em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  gap: var(--gap);
  padding: var(--gap);
  margin: 0 auto;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 800px) {
  .grid {
    width: calc(1110px + var(--gap) + var(--gap));
    grid-template-columns: 1fr 3fr;
  }
}

.header {
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 800px) {
  .header {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.time-cards-container {
  display: grid;
  gap: var(--gap);
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 800px) {
  .time-cards-container {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: repeat(3, 1fr);
  }
}

.box--no-hover, .box--soft-orange, .box--violet, .box--lime-green, .box--strong-red, .box--soft-blue, .box--light-red, .box--blue, .box {
  background-color: var(--dark-blue);
  border-radius: var(--box-border-radius);
  background-repeat: no-repeat;
  background-position: top -0.6rem right 1rem;
}

.box {
  padding: 1.5rem;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 800px) {
  .box {
    padding: 1.8rem;
  }
}
.box:hover {
  background-color: #22275d;
}

.box--blue {
  background-color: var(--blue);
}

.box--light-red {
  background-color: var(--light-red);
  background-image: url(../../images/icon-work.svg);
}

.box--soft-blue {
  background-color: var(--soft-blue);
  background-image: url(../../images/icon-play.svg);
}

.box--strong-red {
  background-color: var(--strong-red);
  background-image: url(../../images/icon-study.svg);
}

.box--lime-green {
  background-color: var(--lime-green);
  background-image: url(../../images/icon-exercise.svg);
}

.box--violet {
  background-color: var(--violet);
  background-image: url(../../images/icon-social.svg);
}

.box--soft-orange {
  background-color: var(--soft-orange);
  background-image: url(../../images/icon-self-care.svg);
}

.time-card {
  display: flex;
  justify-self: stretch;
  padding-top: 2rem;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 800px) {
  .time-card {
    padding-top: 2.5rem;
  }
}

.time-card__text-container {
  width: 100%;
}

.time-card__title {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
