@use "../index" as *;
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__time-toggle {
  display: flex;
  justify-content: space-around;
  margin: 0rem 1rem 1.5rem;
  width: 100%;
  height: 115px;

  @include mq($desktop-width, up) {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 1.8rem;
    align-self: flex-end;
  }
}

.header__time-toggle__link {
  text-decoration: none;
  color: var(--desaturated-blue);

  &:hover,
  &.active {
    color: white;
  }

  @include mq($desktop-width, up) {
    flex: 0 0 100%;
  }
}
