@use "../index" as *;

.time-card {
  display: flex;
  justify-self: stretch;
  padding-top: 2rem;

  @include mq($desktop-width, up) {
    padding-top: 2.5rem;
  }
}

.time-card__text-container {
  width: 100%;
  transform: scale(1.01);
}

.time-card__header {
  display: flex;
  align-items: baseline;
}

.time-card__category {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
}

.time-card__menu {
  margin-left: auto;
  opacity: 70%;

  &:hover {
    opacity: 100%;
  }
}
