@use "../index" as *;
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__time-toggle {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  margin: 1rem;
  width: 100%;

  @include mq(300px, down, false) {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }

  @include mq($desktop-width, up) {
    height: 115px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 1rem 1.5rem 1.8rem;
    align-self: flex-end;
  }
}

.header__time-toggle__link {
  text-decoration: none;
  color: var(--desaturated-blue);

  &:hover,
  &.active {
    color: white;
  }

  @include mq(300px, down, false) {
    width: 100%;
    + .header__time-toggle__link {
      margin-top: 1rem;
    }
  }

  @include mq($desktop-width, up) {
    flex: 0 0 100%;
  }
}
