@use "../index" as *;

.fadeIn {
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
